#saketaLogo{
    width: 100px;
    height:100px;
    float: left;
    padding-right: 0.5%;
}

#saketa{
    padding-right: 2%;
    float: left;
    margin-top: 2%;
}

#blueText{
    color:#3bbdeb;
    margin-bottom: 0%;
}

#text{
    float:left;
    margin-top: 0%;
}

#employeeDirectory{
    float:left;
}

.rightText{
    float:right;
    margin-top: 3.5%;
}

#profileImage{
    float:right;
    width:95px;
    height:95px;
}
