<div id="popupform">
    <div class="form-group formPopup" >
      <form [formGroup]="form" class="formContainer" id="popup" (ngSubmit)="onSubmit()">
            <label><b>Add Employee</b></label>      
            <button type="button" [mat-dialog-close]="true" id="right_buttons">&cross;</button><br><br>      
            <label for="preffered_name"><b>Preffered Name</b></label>
            <input  type="text" placeholder="Enter Preffered Name" formControlName="preffered_name" ><br>
            <small class="text-danger" *ngIf="form.get('preffered_name')?.errors?.['required'] && (form.get('preffered_name').touched || submitted)">Required</small><br>
            <small class="text-danger" *ngIf="form.get('preffered_name')?.errors?.['pattern']">Enter only alphabets</small><br>
            <label for="first_name"><b>First Name</b></label>
            <input  type="text" placeholder="Enter First Name" formControlName="first_name"><br>
            <small class="text-danger" *ngIf="form.get('first_name')?.errors?.['required'] && (form.get('first_name').touched || submitted)">Required</small><br>
            <small class="text-danger" *ngIf="form.get('first_name')?.errors?.['pattern']">Enter only alphabets</small><br>
            <label for="last_name"><b>Last Name</b></label>
            <input  type="text" placeholder="Enter Last Name" formControlName="last_name"><br>
            <small class="text-danger" *ngIf="form.get('last_name')?.errors?.['required'] && (form.get('last_name').touched || submitted)">Required</small><br>
            <small class="text-danger" *ngIf="form.get('last_name')?.errors?.['pattern']">Enter only alphabets</small><br>
            <label for="email"><b>Email</b></label>
            <input  type="text" placeholder="Enter Email" formControlName="email"><br>
            <small class="text-danger" *ngIf="form.get('email')?.errors?.['required'] && (form.get('email').touched || submitted)">Required</small><br>
            <small class="text-danger" *ngIf="form.get('email')?.errors?.['pattern']">Enter valid email</small><br>
            <label for="job_title"><b>Job Title</b></label>
            <input  type="text" placeholder="Enter Job Title" formControlName="job_title"><br>
            <small class="text-danger" *ngIf="form.get('job_title')?.errors?.['required'] && (form.get('job_title').touched || submitted)">Required</small><br>
            <label for="office_name"><b>Office</b></label>
            <input  type="text" placeholder="Enter Office Location" formControlName="office_name"><br>
            <small class="text-danger" *ngIf="form.get('office_name')?.errors?.['required'] && (form.get('office_name').touched || submitted)">Required</small><br>
            <label for="department"><b>Department</b></label>
            <input  type="text" placeholder="Enter Department" formControlName="department"><br>
            <small class="text-danger" *ngIf="form.get('department')?.errors?.['required'] && (form.get('department').touched || submitted)">Required</small><br>
            <label for="phone_number"><b>Phone Number</b></label>
            <input  type="text" placeholder="Enter Phone Number" formControlName="phone_number"><br>
            <small class="text-danger" *ngIf="form.get('phone_number')?.errors?.['required'] && (form.get('phone_number').touched || submitted)">Required</small><br>
            <small class="text-danger" *ngIf="form.get('phone_name')?.errors?.['pattern']">Enter numeric phone number of length 10</small><br>
            <label for="skype_id"><b>Skype ID</b></label>
            <input  type="text" placeholder="Enter Skype Id" formControlName="skype_id"><br>
            <small class="text-danger" *ngIf="form.get('skype_id')?.errors?.['required'] && (form.get('skype_id').touched || submitted)">Required</small><br>
            <label for="file"><b>Upload your Image</b></label>
            <input  type="file" formControlName="image_url" (change)="previewFile($event)"><br><br>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div> 
</div>