<div class="container-fluid" id="overlay-empcard">
    <div class="row" id="popup_card">
        <div class="col-lg-6 popup_image">
            <img src={{data.image_url}} width="338px" height="339px">
        </div>
        <div class="col-lg-6 popup_text">
            <h4>{{data.preferred_name}}<div id="right_buttons"><button type="button" (click)="editDetails(data.email)"><i class="fa fa-solid fa-user-pen"></i></button><button type="button" (click)="hidecard()">&cross;</button></div></h4>
            <div>
                <h6>Primary Details</h6>
                <p><small>First Name:{{data.first_name}}</small></p>
                <p><small>Last Name:{{data.last_name}}</small></p>
            </div>
            <div>
                <h6>Job Details</h6>
                <p><small>Job Title:{{data.job_title}}</small></p>
                <p><small>Department:{{data.department}}</small></p>
                <p><small>Office:{{data.office_name}}</small></p>
            </div>
            <div>
                <h6>Contact Details</h6>
                <p><small>Email:{{data.email}}</small></p>
                <p><small>Phone Number:{{data.phone_number}}</small></p>
                <p><small>Skype Id:{{data.skype_id}}</small></p>
            </div>
        </div>
    </div>
</div>