<div>
    <div>
        <img id="saketa_logo" src="../assets/saketa-logo.jpeg">
        <h1 id="saketa">saketa</h1>
    </div>
    <div>
        <div id="Employee_directory">
            <h1 id="bluetext">Employee Directory</h1>
            <h3 id="text"><small>The Ultimate People Directory Experience</small></h3>
        </div>
    </div>
    <div id="profile">
        <img id="profile_image" src="../assets/tony.jpeg">
        <h3 class="right_text">Paramesh</h3>
        <h3 id="bluetext" class="right_text">Welcome,</h3>
    </div>
</div>